/********************************  
GENERAL STYLING RULES
********************************/

:root {
  --drill-bg-color: #0091ea;
  --full-alert-bg-color: #e53935;
  --subheader-text-color: #757575;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 1px 1px #111;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

/********************************  
NAVIGATION STYLING RULES
********************************/

.navigation {
  background-color: #1a237e;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.navigation h3 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
}

/********************************  
MAIN STYLING RULES
********************************/

main.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 2rem 1rem 2rem;
  margin: 1rem auto 0;
  background-color: #eceff1;
}

main.dashboard .subheader {
  color: var(--subheader-text-color);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3rem;
}

main.dashboard .initiation-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

main.dashboard .initiation-buttons .button.drill {
  background-color: var(--drill-bg-color);
  border: 1px solid var(--drill-bg-color);
  color: #fff;
}

main.dashboard .initiation-buttons .button.full-alert {
  background-color: var(--full-alert-bg-color);
  border: 1px solid var(--full-alert-bg-color);
  color: #fff;
}
