/********************************  
GENERAL STYLING RULES
********************************/

:root {
  --drill-bg-color: #0091ea;
  --full-alert-bg-color: #e53935;
  --dashboard-bg-color: #fbfbfb;
  --subheader-text-color: #757575;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 1px 1px #111;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

/********************************  
NAVIGATION STYLING RULES
********************************/

.navigation {
  background-color: #1a237e;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.navigation h3 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
}

/********************************  
MAIN STYLING RULES
********************************/

main.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 2rem 1rem 2rem;
  margin: 1rem auto 0;
  background-color: var(--dashboard-bg-color);
}

main.dashboard .subheader {
  color: var(--subheader-text-color);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3rem;
}

main.dashboard .initiation-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

main.dashboard .initiation-buttons .button span {
  margin-left: 0.5rem;
}

main.dashboard .initiation-buttons .button.drill {
  background-color: var(--drill-bg-color);
  border: 1px solid var(--drill-bg-color);
  color: #fff;
}

main.dashboard .initiation-buttons .button.full-alert {
  background-color: var(--full-alert-bg-color);
  border: 1px solid var(--full-alert-bg-color);
  color: #fff;
}

/********************************  
ALERT BOX STYLING RULES
********************************/

.alert-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-box-container .alert-box {
  width: 70%;
  background-color: #fff;
  border-radius: 5px;
}

.alert-box-container .alert-box .alert-box-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.alert-box-container .alert-box .alert-box-header.drill {
  background-color: var(--drill-bg-color);
  color: #fff;
}

.alert-box-container .alert-box .alert-box-header.full-alert {
  /* background-color: #e53935; */
  background-color: var(--full-alert-bg-color);
  color: #fff;
}

.alert-box-container .alert-box .alert-box-header i {
  font-size: 2rem;
}

.alert-box-container .alert-box .alert-box-header h4 {
  margin: 0.5rem 0 0.5rem 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.alert-box-container .alert-box .alert-box-message {
  padding: 1rem;
}

.alert-box-container .alert-box .alert-box-message .message-title {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.alert-box-container .alert-box .alert-box-message .message-content {
  font-size: 1.1rem;
  color: #000;
}

/********************************  
MEDIA QUERIES RULES
********************************/

@media (max-width: 415px) {
  main.dashboard .initiation-buttons .button.drill,
  main.dashboard .initiation-buttons .button.full-alert {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
  }
}
